<!doctype html>
<html>
<% include _header %>
<% include _menu %>
<body>

<table class="table table-hover">
    <thead>
    <tr>
        <th>#</th>
        <th>Email</th>
        <th>Message</th>
        <th>Time/Date</th>
        <th></th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    <% inbox.forEach(function(message){ %>
        <tr>
            <th onclick="document.location = '/message';" scope="row"><%= message.id %></th>
            <td onclick="document.location = '/message';"><%= message.email %></td>
            <td onclick="document.location = '/message';"><%= message.title %></td>
            <td onclick="document.location = '/message';"><%= message.createdAt %></td>
            <td onclick="document.location = '/message';"><span class="glyphicon glyphicon-ok"
                                                                aria-hidden="true"></span></td>
            <td>
                <button id="button" type="button" class="btn btn-sm btn-warning"><span class="glyphicon glyphicon-trash"
                                                                                       aria-hidden="true"></span>
                </button>
            </td>

        </tr>

    <% }); %>

    </tbody>
</table>

<% include _js_bootstap %>
</body>
</html>

