<!doctype html>
<html>
<% include _header %>

<body>
<select name="select" class="selectpicker">
    <% users.forEach(function(user){ %>
        <option value=“<%= user.id %>”><%= user.name %></option>
    <% }); %>
</select>
</body>
</html>