<!doctype html>
<html>
<% include _header %>
<% include _login_form %>
<body>
<div class="container">
    <div class="col-sm-6 col-sm-offset-3">
        <p>Already have an account? <a href="/login">Login</a></p>
        <p>Or go <a href="/">home</a>.</p>
    </div>
</div>
</body>
</html>
